.footer {
  background-color: #fafafa;
}

.footer h3 {
  @include indent-reset();
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding-bottom: 25px;
}

.footer__inner {
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
}

.footer__top-container {
  max-width: 1440px;
  padding: 64px 12px 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  width: 28%;
}

.footer__navigation {
  width: 47%;
  padding-left: 26px;
}

.footer__address {
  padding-left: 18px;
  width: 25%;
}

.footer__navigation-list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  height: 100px;
  flex-wrap: wrap;
  flex-grow: 0;
  align-items: flex-start;
  align-content: flex-start;
}

.footer__navigation-item {
  padding-right: 75px;
}

.footer__navigation-item a {

  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $main-color;
  opacity: 0.5;
}

.footer__address p {
  @include indent-reset();
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $main-color;
  opacity: 0.5;
}

.footer__address a {
  display: block;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $main-color;
  opacity: 0.5;
}

ul.footer__social {
  padding-top: 50px;
}

.footer__bottom-container {
  max-width: 1440px;
  padding: 64px 12px 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__bottom-container a {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-color;

  opacity: 0.5;
}

.footer__bottom-container p {
  @include indent-reset();
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-color;

  opacity: 0.5;
}
