.promo {
  position: relative;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom: 274px;
  padding-top: 204px;
  padding-left: 20px;
  max-width: 1465px;
}

.promo__title {
  @include indent-reset();
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.promo__description {
  @include indent-reset();
  position: relative;
  width: 715px;
  padding: 27px 0 42px 100px;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;

  &::before {
    position: absolute;
    left: 5px;
    top: 43px;
    content: "";
    width: 66px;
    height: 2px;
    background: url("../img/dash-desktop.svg") no-repeat 50% 50%;
  }
}

.promo__btn {
  margin-left: 99px;
  display: block;
  width: 407px;
}

.promo__btn-text--small {
  display: none;
}

@media (max-width: $tablet) {
  .promo {
    margin: 0 auto 0 0;
    width: 660px;
    padding: 67px 50px 162px 89px;

    &::before {
      display: none;
    }
  }

  .promo__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 27px;
  }

  .promo__btn {
    width: 379px;
    margin-left: 50px;
  }

  .promo__description {
    width: 100%;
    padding: 1px 2px 3px 50px;
    margin-bottom: 51px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      background: url("../img/dash-tablet.svg") no-repeat 50% 50%;
      left: -15px;
      top: 17px;
    }
  }
}

@media (max-width: $mobile) {
  .promo {
    width: 100%;
    min-width: 300px;
    padding: 205px 10px 69px 15px;
  }

  .promo__btn {
    margin-left: 4px;
    width: 287px;
  }

  .promo__btn-text--big {
    display: none;
  }

  .promo__btn-text--small {
    display: inline;
  }

  .promo__title {
    font-size: 40px;
    line-height: 47px;
  }

  .promo__description {
    padding: 1px 2px 3px 50px;
    font-size: 16px;
    margin-bottom: 37px;

    &::before {
      left: -14px;
      top: 15px;
    }
  }
}
