.social {
  @include list-reset();
  width: 112px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__item:hover svg {
  fill: #000000;
}

.social svg {
  fill: #cdcdcd;
}
