/*colors*/
$main-color: #1b2d37;
$blue: #00b2ff;

/*font*/
$font: "PT Mono", "Tahoma", sans-serif;
$font-size: 16px;
$line-height: 22px;

/*size*/
$desktop: 1920px;
$tablet: 1023px;
$mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
